doctype html
html(lang="en")
  head
    title= pageTitle

    // inject:css 
    // Note that inject and endinject must be surrounded by a space on both sides
    // endinject 
  body
    h1 Welcome to ngbp-gulp

    h3 Created by 
      a(href='https://github.com/ethanwelborn') ethanwelborn

    h5 Inspired by 
      a(href='https://github.com/ngbp/ngbp') ngbp

    // inject:js 
    // Note that inject and endinject must be surrounded by a space on both sides
    // endinject 


    .container(ng-view='')