doctype html
html(lang="en")
  head
    title= pageTitle

    // inject:css 
    // Note that inject and endinject must be surrounded by a space on both sides
    // endinject 
  body(ng-app="ngbp-gulp")

    .container(ui-view)

    // inject:js 
    // Note that inject and endinject must be surrounded by a space on both sides
    // endinject 
    